.Heroshot {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap-reverse;
  padding:0 5em;
}
.Tagline {
  color: #338ea5;
  font-size: 1.9rem;
}

.ImagenInicio {
  background-color: burlywood;
  border: 1px solid black;
  flex:50%;
}

.Heroshot-text {
  flex:50%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-right: 2rem;
}

.Contenido {
  padding: 0 5rem;
}

.Title {
  color: #338ea5;
  padding-bottom: 2rem;
}

.TitleW {
  color:white;
  padding-bottom: 2rem;
}

.Fundamentos{
  background-color:#338ea5;
  padding:2rem 5rem;
  margin:2rem 0;
}
.Parrafo{
  margin-bottom: 1rem;
}