.Heroshot {
  display: flex;
  padding: 0 6rem;
  justify-content: space-between;
}
.Tagline {
  color: rgb(39, 121, 121);
  font-size: 1.9rem;
}

.ImagenInicio {
  background-color: burlywood;
  border: 1px solid black;
  height: 400px;
  width: 400px;
}

.Descripcion {
  text-align: justify;
}

.Heroshot-text {
  width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-right: 2rem;
}

.Mision {
  padding: 0 6rem;
}

.Title {
  color: rgb(39, 121, 121);
  padding-bottom: 2rem;
}
