.FooterNav {
  display: flex;
  justify-content: space-between;
  padding: 2rem 5rem;
  margin-top: 2rem;
  background-color: #338ea5;
  color: ghostwhite;
}

.Logo {
  background-color: white;
}

ul {
  list-style-type: none;
}
