.FooterNav {
  display: flex;
  justify-content: space-around;
  padding-top: 1rem;
  margin-top: 1rem;
  background-color: #338ea5;
  color: ghostwhite;
}

.Logo {
  background-color: white;
}

ul {
  list-style-type: none;
}
