.Logo {
  height: 35px;
  padding-top: 1px;
}

.NavLink {
  text-decoration: none;
}

.HeaderNav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid black;
}
