.Logo {
  height: 30px;
  padding-top: 1px;
}

.NavLink {
  text-decoration: none;
  color: #338ea5;
  padding: 0.5em;
}

.NavLink:hover {
  color: red;
}

.HeaderNav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid black;
}
